* {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

article {
  display: flex;
  gap: 10px;
}

article .infoCar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: 540px;
}

article p {
  width: auto;
  height: 50px;
}

.slide_content {
  display: flex;
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(32, 1, 45) 35%,
    rgb(111, 0, 255) 100%
  );
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.slide_content article {
  color: white;
  flex: 0 0 100%;
  opacity: 0.9;
  width: 100%;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.active {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

img {
  width: 800px;
  height: 520px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  width: 40%;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles Navbar menú to API Web*/

.menu-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(30%, 10%);
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727af;
  padding: 5px 30px;
  border-radius: 50px;
}

.menu-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.menu-bar ul li {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  font-size: 15px;

  a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
}

.menu-bar img {
  width: auto;
  height: 50px;
  margin: 0;
}

.menu-bar a:hover {
  text-shadow: 0 0 2px #fff;
}
