.menu-bar {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--bg-primary), 0.8);
  backdrop-filter: blur(5px);
  border-bottom: 1px dashed var(--bg-secondary-dark);

  article {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu-options {
    display: flex;
    align-items: center;

    .option-docs-header {
      display: flex;
      flex-direction: column;
      gap: 1px;

      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 800;
      }
    }

    ul {
      display: flex;
      gap: 10px;
      list-style: none;
      padding: 0;
      margin-left: 50px;
    }

    ul li {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;

      a {
        text-decoration: none;
        color: var(--text-secondary);
        transition: all 0.3s ease-in-out;

        &:hover {
          text-shadow: 0 0 1px var(--text-secondary);
          color: var(--text-primary);
        }
      }      
    }
  }

  .menu-others {
    padding: 0 10px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      color: var(--text-secondary);

      &:hover {
        background: var(--bg-secondary);
      }

      svg {
        fill: var(--text-secondary);
        transition: fill 0.3s ease-in-out;
      }
    }    
  }
}

.menu-bar img {
  width: auto;
  height: 50px;
  margin: 0;
}